.element__like-button {
  background-image: url("../../../image/logo/like-button.png");
  background-size: cover;
  background-color: white;
  border: none;
  width: 22px;
  height: 19px;
  cursor: pointer;
  transition: opacity 0.5s;
  align-self: center;
}

.element__like-button:hover {
  opacity: .5;
}
